<% provide(:titulo, "Nosotros") %>
<h1>Paginas sobre Nosotros</h1>
<p> En nuestra pagina vamos a mostrar informacion sobre nosotros</p>
<p> Grupo de clases de JOSE LUIS</p>













<% # esto es un comentario %>

<% if false %>
  <% 1+1 %>
  <%= 1+1 %>
  <% # Un comentario %>
  <%= 1+1 %>
  <% 5.times do |x| %>
    <%= x %>
  <% end %>
<% end %>
